html, body{
    height:100%
}

#first-hint-container{
    margin-top: 20vh;
}

#second-hint-container{
    margin: auto;
    margin-top: 7vh;
    background-image: url("../images/second_hint.png");
    width: 745px;
    height: 317px;
}

#gameover-container{
    position: relative;
    margin: auto;
    margin-top: 10vh;
    background-image: url("../images/game_over.png");
    width: 745px;
    height: 317px;
    background-repeat: no-repeat;
}

#first-hint{
    vertical-align: top;
    margin-top: 13px;
}

.arrow{
    background-image: url("../images/arrow.png");
    height: 65px;
    width: 35px;
     display: inline-block;
    background-size: 2pc;
    margin-left: 60vw;
    background-repeat: no-repeat;
    margin-right: 5px;
}

/*.arrow-down{*/
    /*background-image: url("../images/arrow-down.png");*/
    /*width: 65px;*/
    /*height: 35px;*/
    /*display: inline-block;*/
    /*background-size: 4pc;*/
    /*!*margin-left: 60vw;*!*/
    /*background-repeat: no-repeat;*/
    /*!*margin-right: 5px;*!*/
    /*!*margin-top: 65vh;*!*/
/*}*/

.symtris_container{
    width: 100%;
    height: 100%;
    background-color: #fef4f5;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.status{
    font-family: Verdana;
    font-size: xx-large;
    /*text-align: right;*/
    display: inline-block;
}

.points{
    padding: 0.5vw 2vw 0 0;
    float: right;
}

.progress{
    padding: 0.5vw 0 0 2vw;
    float: left;
}

.complete_notice{
    /*font-family: Verdana;*/
    /*!*padding-top: 3vh;*!*/
    /*margin-top: -60px;*/
    /*text-align: center;*/
    position: relative;
    width: 90vw;
    margin: auto;
    padding-top: 5vh;
}
.complete_notice_bg{
    background: black;
    opacity: 0.25;
    border-radius: 25px;
    height: 88vh;
}

.complete_notice_tabel{
    display: block;
    margin:auto;
}

.complete_notice_resultPane{
    position:absolute;
    top:0;
    width:100%;
    height: 100%;
    /*background: blue;*/
}
.complete_notice_result{
    position: relative;
    background-image: url("../images/positive.png");
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    /*top: 25px;*/
    left: 26px;
}


.complete_notice_rating{
    position: relative;
    z-index: 100;
    top: -85vh;
    margin-bottom: -33vh;
}

.rating_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.complete_notice_title {
    font-size: 6.5em;
    margin-bottom: 1.5vh;
}

.complete_notice_content{
    font-size: 2em;
}

.complete_notice_contentPane{
    color:green;
    /*background: white;*/
    width: 25%;
    float: left;
    position: relative;
    z-index: 100;
    top: -50vh;
}

.btn_game_over{
    margin-top: 40vh;
    margin-left: 28vw;
    margin-right: 28vw;
}

.btn_reset{
    position: absolute;
    margin-top: 5px;
    margin-left: -48vw;
}

.btn{
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.btn:active {
    position:relative;
    top:1px;
}